html {
  box-sizing: border-box;
}

* {
  outline: 1px solid #ee3131;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  height: 100vh;
  background: rgb(245, 245, 245);
  padding: 50px;
}

body {
  margin: 16px;
  line-height: 1.5;
  color: #212121;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.btn {
  border-radius: 3px;
}

/* .is-visible {
  opacity: 1;
} */
/*grid*/
/* .gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #d6eafa;
  padding: 10px;
}

.photo-card {
  background-color: #f3f8c5cc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
} */

.fetch-additional {
  opacity: 0;
}
.fetch-additional.is-visible {
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
/*============================================
/*flex*/
.gallery {
  display: flex;
  flex-wrap: wrap;

  padding-left: 10px;
  padding-right: 10px;
}
.photo-card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 10px * 3) / 3);
  align-content: space-between;
  padding: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #caf8f8;
  border-radius: 5%;
  overflow: hidden;
}

.stats {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-self: flex-end;
}

.stats-item {
  font-size: 20px;
  text-align: left;
}

.scroll_to_top {
  opacity: 0;
}

.scroll_to_top.is-visible {
  opacity: 0.5;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  background-color: #ee3131;
  color: aquamarine;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: tomato;
  color: #fff;
  transform: translatey(-100%);
  transition: transform 250ms ease-in-out;
}

.alert.is-visible {
  transform: translatey(0);
}

/*.posts {
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
}

.posts li:not(:last-child) {
  margin-bottom: 16px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.post-title:first-letter {
  text-transform: uppercase;
}

.post-body {
  margin: 0;
} */
