html {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid #ee3131;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  height: 100vh;

  background-image: url(./images/boardwalk-569314_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
}

body {
  margin: 16px;
  line-height: 1.5;
  color: #212121;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.btn {
  border-radius: 3px;
}

.search-form {
  margin-left: 40%;
}

.fetch-additional {
  opacity: 0;
  margin-left: 40%;
  margin-bottom: 30px;
}

.fetch-additional.is-visible {
  opacity: 1;
}
/*===flex box of images==========*/
.gallery {
  display: flex;
  flex-wrap: wrap;

  padding-left: 10px;
  padding-right: 10px;
}
.photo-card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 10px * 3) / 3);
  align-content: space-between;
  padding: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #caf8f8;
  border-radius: 5%;
  overflow: hidden;
}

.photo-card_img {
  margin-left: auto;
  margin-right: auto;
}

.stats {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-self: flex-end;
}

.stats-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: left;
}

.scroll_to_top {
  opacity: 0;
}

.scroll_to_top.is-visible {
  opacity: 1;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  background-color: #ee3131;
  color: rgb(2, 250, 35);
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: tomato;
  color: #fff;
  transform: translatey(-100%);
  transition: transform 250ms ease-in-out;
}

.alert.is-visible {
  transform: translatey(0);
}

.material-icons {
  margin-right: 5px;
  height: 5px;
  width: 5px;
  font-size: 10px;
}
